<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.mayo.cts2.framework.plugin.service.demosql.mybatis.dao.MybatisCodeSystemDao">

	<resultMap id="codeSystemCatalogEntryResultMap"
		type="edu.mayo.cts2.framework.model.codesystem.CodeSystemCatalogEntry">
		<result property="codeSystemName" column="codesystemname" />
		<result property="about" column="uri" />
	</resultMap>

	<select id="getCodeSystemByName" parameterType="string"
		resultMap="codeSystemCatalogEntryResultMap">
		
		SELECT 
			codesystemname,
			uri
		FROM
			codesystems 
		WHERE 
			codesystemname = #{codeSystemName}
			
	</select>
	
	<select id="getCodeSystemByUri" parameterType="string"
		resultMap="codeSystemCatalogEntryResultMap">
		
		SELECT 
			codesystemname,
			uri
		FROM
			codesystems 
		WHERE 
			uri = #{uri}
			
	</select>
	
</mapper>